pi/robot/__pycache__/robot.cpython-313.pyc
simulation/__pycache__/environment.cpython-313.pyc
simulation/__pycache__/main.cpython-313.pyc
simulation/__pycache__/simulated_robot.cpython-313.pyc
simulation/__pycache__/obstacle.cpython-313.pyc
